
%aside.sidebar.sidebar-icons-right.sidebar-icons-boxed.sidebar-expand-lg
  %header.sidebar-header
    %a.logo-icon{:href => "index.html"}
      %img{:alt => "logo icon", :src => image_url('logo-icon-light.png')}/
    %span.logo
      %a{:href => "index.html"}
      %img{:alt => "logo", :src => image_url('logo-light.png')}/
    %span.sidebar-toggle-fold
  %nav.sidebar-navigation
    %ul.menu
      %li.menu-category Preview
      %li.menu-item
      = link_to root_path, class: 'menu-link' do 
        %span.icon.fa.fa-home
        .title= t('Dashboard')
      - if current_user.role == 'admin'
        = link_to couriers_path(), class: 'menu-link' do 
          %span.icon.fa.fa-minus-circle
          .title= t('Courier')
      = link_to pricelists_path(), class: 'menu-link' do 
        %span.icon.fa.fa-minus-circle
        .title= t('Price List')
      %li.menu-item
