.container
  .row
    .col-6
      %h1="Listing Price List" 

    .col-6.text-right
      = link_to 'New Price List', new_pricelist_path, class: 'btn btn-primary btn-outline'
%table.table
  %thead.thead-light
    %tr
      %th Name
      %th Courier
      %th Price
      %th Note
      %th

  %tbody
    - @pricelists.each do |pricelist|
      %tr
        %td= pricelist.name
        %td= pricelist.courier.name
        %td= number_to_currency(pricelist.price,:unit=>'€', format: "%n %u")
        %td= pricelist.note
        %td.text-right.table-actions
          = link_to pricelist, class: 'mx-2 table-action hover-info' do
            %i.ti-zoom-in
          = link_to edit_pricelist_path(pricelist), class: 'mx-2 table-action hover-primary' do
            %i.ti-pencil
          = link_to pricelist, method: :delete, data: { confirm: 'Are you sure?' }, class: 'mx-2 table-action hover-danger' do
            %i.ti-trash

%br

-# = link_to 'New Pricelist', new_pricelist_path
