<!DOCTYPE html>
<html>
  <head>
    <title>LPShippment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <% if current_user.present? %>
      <% unless current_user.role == 'user' %>
        <%= render 'header/index' %>
        <%= render 'sidebar/index' %>
        <%= render 'frontend/main' %>
      <% else %>
        <%= current_user.id %>
        <%= yield %>
      <% end %>
    <% else %>
        <%= yield %>
    <% end %>
  </body>
</html>
